<%- include("header") %>

<!-- App Container -->
<div class="container bg-white shadow-lg p-3 rounded">
    <h1 class="text-center text-uppercase bg-info text-white">ToDo App</h1>

    <!-- Todo list submit input form -->

    <form action="/todos/submit-todos" id="myform" method="POST">
        <!-- Description Input -->
        <div class="form-group border-top border-bottom border-secondary">
            <label for="inputAddress" class="text-uppercase">Description</label>
            <input type="text" class="form-control border-0 element" name="description" autocomplete="off" required id="inputAddress"
                placeholder="What do you need to do?" maxlength="100">
        </div>


        <div class="form-row border-top border-secondary">
            <!-- Category Input -->
            <div class="form-group col-md-6 border-bottom border-right border-secondary">
                <label for="inputState" class="text-uppercase">Category</label>
                <select id="inputState" name="category" class="form-control border-0 element custom-select" required>
                    <option disabled selected value> -- Select a category -- </option>
                    <option>Personal</option>
                    <option>Work</option>
                    <option>School</option>
                    <option>Cleaning</option>
                    <option>Other</option>
                </select>
            </div>

            <!-- Date Input -->
            <div class="form-group col-md-6 ">
                <div class="md-form md-outline input-with-post-icon datepicker border-bottom border-secondary">
                    <label for="example" class="text-uppercase">Due Date</label>
                    <input placeholder="Select date" type="date" name="dueDate" id="example"
                        class="form-control border-0 element">
                </div>
            </div>
        </div>
    </form>


    <!-- Submit Buttons to control forms -->
    <div class="submit-buttons d-flex justify-content-center">
        <button type="submit" form="myform" class="btn btn-dark addTask text-uppercase"><i class="fa fa-plus"
                aria-hidden="true"></i> Add Task</button>
        <button type="submit" form="myform2" class="btn btn-danger addTask text-uppercase"><i class="fa fa-trash"
                aria-hidden="true"></i> Delete Tasks</button>
        <!-- <button type="submit" class="btn btn-success addTask text-uppercase"><i class="fa fa-check"
                aria-hidden="true"></i>Done Tasks</a>
        </button> -->
        <a href="/done-tasks" class="bg-success done-link text-uppercase"><i class="fa fa-check"
            aria-hidden="true"></i>Done Tasks</a>
    </div>



    <!-- Show to do list -->

    <form action="/todos/delete-todos" method="POST" id="myform2">

        <ul class="list-group list-group-flush">
            <!-- Render each item of list -->

            <% for(let i of todos_list) { %>
               
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <input type="checkbox" class="" name="todosID" value="<%= i._id %>">
                            <div class="added-item">
                                <h4 class="text-justify"><%= i.description %></h4>
                                <i class="fa fa-calendar text-secondary" aria-hidden="true"></i>
                                <span class="text-secondary dueDate" data-ID=" <%= i._id %>"><%= i.dueDate %></span>
                            </div>
                        </div>
                        <span class="d-flex flex-column-reverse">
                            <small class="text-right remaining-days" id=" <%= i._id %>"></small>
                            <button class="btn Disabled <%= i.category %> category">
                                <%= i.category%>
                            </button>
                        </span>
                    </li>
                   
            <% } %>
        </ul>
    </form>

</div>

<%- include("footer") %>